@font-face {
  font-family: 'Raleway-Light';
  src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: 'fa-brands-400';
  src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
  font-family: 'fa-solid-900';
  src: url(../fonts/fa-solid-900.ttf);
}

.container {
  max-width: 1170px;
  margin: auto;
}

body {
  color: #3a3d4b;
  font-family: 'Raleway-Light';
  font-size: 18px;
}

.header {
  height: 100vh;
  background: url(../img/header/1.png) no-repeat;
  background-size: cover;
  position: relative;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}

.header nav .logo h3 {
  color: #ffffff;
}

.header nav .logo h3 span {
  font-style: italic;
}

.header nav .menu a {
  font-size: 16px;
  color: #3a3d4b;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header nav .menu a:first-of-type {
  margin-left: 0;
}

.header nav .menu a:hover {
  color: #ffffff;
}

.header nav .get button {
  font-family: 'Raleway-Medium';
  font-size: 11px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header nav .get button:hover {
  background: #ffffff;
  color: #222328;
}

.header nav .get .login {
  width: 90px;
  height: 35px;
  border: 1px solid #3a3d4b;
  border-radius: 40px;
  margin-right: 20px;
}

.header nav .get .started {
  width: 135px;
  height: 35px;
  border: 1px solid #3a3d4b;
  border-radius: 40px;
}

.header .title {
  text-align: center;
  margin-top: 120px;
}

.header .title h3 {
  color: #ffffff;
  max-width: 595px;
  margin: auto;
  font-size: 62px;
  line-height: 72px;
  font-family: 'Raleway-Light';
}

.header .title .btn {
  margin-top: 70px;
  margin-bottom: 20px;
}

.header .title .btn button {
  font-family: 'Raleway-Medium';
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #3a3d4b;
  border-radius: 40px;
  width: 390px;
  height: 60px;
}

.header .title .btn button:hover {
  background: #ffffff;
  color: #222328;
}

.header .title a {
  font-size: 14px;
  color: #3a3d4b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .title a:hover {
  color: #ffffff;
}

.header .title p {
  margin: auto;
  margin-top: 80px;
  color: #ffffff;
  font-size: 26px;
  line-height: 36px;
  max-width: 730px;
}

.header .title .mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #3a3d4b;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 40px;
}

.header .title .mouse span {
  background: #ffffff;
  width: 2px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.submenu {
  padding-top: 20px;
}

.submenu .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submenu .block .menu a {
  font-family: 'Raleway-Regular';
  font-size: 14px;
  color: #222328;
  margin-left: 20px;
}

.submenu .block .menu a:first-of-type {
  margin-left: 0;
}

.submenu .block .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submenu .block .subscribe p {
  font-family: 'Raleway-Medium';
  font-size: 14px;
  color: #141414;
}

.submenu .block .subscribe .input {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid rgba(58, 61, 75, 0.1);
  border-radius: 40px;
  width: 370px;
  height: 50px;
}

.submenu .block .subscribe .input input {
  padding-left: 20px;
  font-family: 'Raleway-Medium';
  font-size: 14px;
  width: 100%;
}

.submenu .block .subscribe .input .btn {
  margin-right: 5px;
}

.submenu .block .subscribe .input .btn button {
  background: #141414;
  border-radius: 40px;
  width: 100px;
  height: 40px;
  font-family: 'Raleway-Medium';
  font-size: 11px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.65px;
}

.submenu .line {
  width: 100%;
  height: 2px;
  background: rgba(58, 61, 75, 0.1);
  margin-top: 25px;
}

.about {
  padding-top: 100px;
}

.about .title {
  text-align: center;
}

.about .title h5 {
  margin: auto;
  max-width: 755px;
  font-size: 32px;
  line-height: 42px;
  color: #222328;
}

.about .title p {
  margin: auto;
  margin-top: 30px;
  max-width: 540px;
  line-height: 28px;
}

.about .about-slider-wrap {
  position: relative;
  margin-top: 75px;
}

.about .about-slider-wrap .about-slider {
  z-index: 2;
  position: relative;
  width: 755px;
  margin: auto;
}

.about .about-slider-wrap .about-slider .slick-list {
  overflow: hidden;
}

.about .about-slider-wrap .about-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 370px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-slider-wrap .about-slider .slick-list .slick-track .block {
  text-align: center;
}

.about .about-slider-wrap .about-slider .slick-list .slick-track .block img {
  -webkit-box-shadow: 0 20px 30px rgba(58, 61, 75, 0.5);
          box-shadow: 0 20px 30px rgba(58, 61, 75, 0.5);
}

.about .about-slider-wrap .img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.about .about-slider-wrap .btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 2;
  padding: 0 100px;
}

.about .about-slider-wrap .btn button .fas {
  font-family: 'fa-solid-900';
  color: #d4d4d5;
  font-size: 25px;
}

.about .content {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .content .box {
  max-width: 400px;
}

.about .content .box h5 {
  text-transform: uppercase;
  font-family: 'Raleway-Medium';
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #222328;
}

.about .content .box p {
  margin-top: 20px;
  line-height: 28px;
}

.about .line {
  width: 100%;
  height: 2px;
  background: rgba(58, 61, 75, 0.1);
  margin-top: 120px;
}

.components {
  padding-top: 100px;
  padding-bottom: 150px;
}

.components .title {
  text-align: center;
  color: #222328;
}

.components .title h5 {
  text-transform: uppercase;
  font-family: 'Raleway-Medium';
  font-size: 14px;
  letter-spacing: 1.4px;
}

.components .title p {
  margin: auto;
  margin-top: 20px;
  font-size: 42px;
  line-height: 52px;
  max-width: 955px;
}

.components .cards {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.components .cards .card {
  width: 472px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 7px;
}

.components .cards .card:hover {
  -webkit-box-shadow: 0 10px 40px rgba(58, 61, 75, 0.2);
          box-shadow: 0 10px 40px rgba(58, 61, 75, 0.2);
  border: none;
}

.components .cards .card .img {
  height: 303px;
}

.components .cards .card .desc {
  padding-top: 35px;
}

.components .cards .card .desc h5 {
  font-family: 'Raleway-Regular';
  font-size: 22px;
  color: #222328;
}

.components .cards .card .desc p {
  margin: auto;
  margin-top: 10px;
  max-width: 300px;
  font-size: 16px;
  line-height: 26px;
}

.components .cards .one .img {
  width: 100%;
}

.components .cards .one .img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.components .cards .one .desc {
  border-left: 1px solid rgba(58, 61, 75, 0.1);
  border-bottom: 1px solid rgba(58, 61, 75, 0.1);
  border-right: 1px solid rgba(58, 61, 75, 0.1);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.components .cards .one .desc .btn {
  padding-top: 20px;
  padding-bottom: 45px;
}

.components .cards .one .desc .btn button {
  width: 330px;
  height: 55px;
  border: 1px solid rgba(58, 61, 75, 0.1);
  border-radius: 40px;
  text-transform: uppercase;
  font-family: 'Raleway-Medium';
  font-size: 12px;
  letter-spacing: 1.8px;
  color: #141414;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.components .cards .one .desc .btn button:hover {
  background: #1be938;
  -webkit-box-shadow: 0 20px 40px rgba(27, 233, 56, 0.5);
          box-shadow: 0 20px 40px rgba(27, 233, 56, 0.5);
}

.components .cards .two {
  border: 1px solid rgba(58, 61, 75, 0.1);
  border-radius: 7px;
}

.components .cards .two .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.components .cards .two .link {
  padding-top: 20px;
}

.components .cards .two .link a {
  text-transform: uppercase;
  font-family: 'Raleway-Medium';
  font-size: 12px;
  letter-spacing: 1.8px;
  color: #141414;
  text-decoration: underline;
}

.testimonials {
  padding: 100px 0;
  background: #141414;
}

.testimonials .title {
  text-align: center;
  color: #ffffff;
}

.testimonials .title h5 {
  text-transform: uppercase;
  font-family: 'Raleway-SemiBold';
  font-size: 14px;
  letter-spacing: 1.4px;
}

.testimonials .title p {
  margin: auto;
  margin-top: 20px;
  font-size: 42px;
  line-height: 52px;
  max-width: 925px;
}

.testimonials .wrap {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.testimonials .wrap .block {
  width: 375px;
  color: rgba(255, 255, 255, 0.5);
}

.testimonials .wrap .block .content {
  border: 1px solid rgba(58, 61, 75, 0.3);
  border-radius: 7px;
  padding: 30px;
  position: relative;
}

.testimonials .wrap .block .content .anchor {
  position: absolute;
  width: 14px;
  height: 10px;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.testimonials .wrap .block .content .anchor::before {
  content: '';
  position: absolute;
  background: rgba(58, 61, 75, 0.3);
  width: 1px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 3px;
}

.testimonials .wrap .block .content .anchor::after {
  content: '';
  position: absolute;
  background: rgba(58, 61, 75, 0.3);
  width: 1px;
  height: 10px;
  right: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.testimonials .wrap .block .content p {
  line-height: 28px;
}

.testimonials .wrap .block .content .brilliant {
  margin-top: 15px;
}

.testimonials .wrap .block .icon {
  margin-top: 20px;
}

.testimonials .wrap .block .author {
  margin-top: 20px;
}

.testimonials .wrap .block .author h6 {
  font-size: 20px;
}

.testimonials .wrap .block .author p {
  margin-top: 10px;
  text-transform: uppercase;
  font-family: 'Raleway-Medium';
  font-size: 12px;
  letter-spacing: 1.8px;
}

.features {
  padding: 100px 0;
}

.features .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .title .content p {
  font-size: 42px;
  line-height: 52px;
  color: #222328;
  margin: auto;
  max-width: 610px;
}

.features .title .content h5 {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(58, 61, 75, 0.5);
}

.features .title .btn button {
  width: 210px;
  height: 50px;
  border: 1px solid rgba(58, 61, 75, 0.1);
  border-radius: 40px;
  text-transform: uppercase;
  font-family: 'Raleway-SemiBold';
  font-size: 12px;
  letter-spacing: 1.8px;
  color: #141414;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features .title .btn button:hover {
  background: #1be938;
  -webkit-box-shadow: 0 20px 40px rgba(27, 233, 56, 0.5);
          box-shadow: 0 20px 40px rgba(27, 233, 56, 0.5);
}

.features .line {
  width: 100%;
  height: 1px;
  background: rgba(58, 61, 75, 0.1);
  margin: 100px 0;
}

.features .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .wrap .left-block .box {
  margin-top: 50px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid transparent;
  padding: 30px;
  cursor: pointer;
}

.features .wrap .left-block .box:hover {
  border: 1px solid rgba(58, 61, 75, 0.3);
}

.features .wrap .left-block .box:first-of-type {
  margin-top: 0;
}

.features .wrap .left-block .box h5 {
  text-transform: uppercase;
  font-family: 'Raleway-SemiBold';
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #141414;
}

.features .wrap .left-block .box p {
  margin-top: 15px;
  line-height: 28px;
  max-width: 255px;
}

.features .wrap .wrap-slider {
  position: relative;
}

.features .wrap .wrap-slider .features-slider {
  width: 367px;
  position: relative;
  z-index: 2;
}

.features .wrap .wrap-slider .features-slider .slick-list {
  overflow: hidden;
}

.features .wrap .wrap-slider .features-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 754px;
}

.features .wrap .wrap-slider .features-slider .slick-list .slick-track .features-block {
  text-align: center;
}

.features .wrap .wrap-slider .features-slider .slick-list .slick-track .features-block img {
  -webkit-box-shadow: 0 20px 30px rgba(58, 61, 75, 0.5);
          box-shadow: 0 20px 30px rgba(58, 61, 75, 0.5);
}

.features .wrap .wrap-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.features .wrap .wrap-slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.features .wrap .wrap-slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #d2d2d3;
}

.features .wrap .wrap-slider .slick-dots .slick-active button {
  border: none;
  background: #00071a;
}

.features .wrap .wrap-slider .img {
  position: absolute;
  top: 0;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */